{% extends 'base.html' %}

{% load static %}

{% block content %}


    <style>
        body {
            background-color: rgb(59, 160, 160);

        }

    </style>
    <style>
        body{
            max-width: 1000px;
            margin: auto;
        }
        p{
            text-indent: 50px;
        }
    </style>

    <h1 style="background-color: hwb(172 51% 9%);"><center>FAKULTAS KEDOKTERAN</center></strong></h1>
   <h2><strong> <center>Tentang Kami</center></strong></h2>
    <h3><strong>Sejarah</strong></h3>
        
    <p><font size="4"></font>Fakultas Kedokteran UNTIRTA merupakan fakultas baru di universitas Sultan Ageng Tirtayasa yang terbentuk sejak program studi pendidikan dokter disahkan berdasarkan SK Menteri Riset Teknologi dan Pendidikan Tinggi Republik Indonesia Nomor 283/KPT/I/2019. Program studi Kedokteran Untirta saat ini dibawah pengampuan FK UI.</p>
<br>
<br>
<br>
        <h3><strong>Jurusan/Program Studi yang ada di Fakultas Kedokteran</strong></h3>
        <h4><strong>Kedokteran</strong></h4>
        <h4><strong>Keperawatan</strong></h4>
        <h4><strong>Ilmu Gizi</strong></h4>
        <h4><strong>Ilmu Keolahragaan</strong></h4>
        <br>
        <br>
        <br>
       
{% endblock %}